#navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 500px){
nav ul {
  text-align: center;
}
  nav ul li {
    margin: 20px;
  }

  .project {
    margin: 40px 0;
  }
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  background-color: #3340F5;
  padding: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  margin: 35px;
  padding: 15px;
  font-size: 28px;
}

nav ul li a:hover {
  background-color: white;
  color: #3340F5; 
  transition: background-color .8s; 
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

#welcome-section {
  background: #28A5FB;
  min-height: 55vh;
  padding-top: 45vh;
  color: black;
  font-size: 30px;
}

#welcome-section p {
  color: white;
  text-align: center;
  
}

#profile-image {
  justify-content: center;
  display: flex;
  height: 150px;
  border-radius: 15px;
  margin: 25px 0px 0px 150px;
}

/* --------------------------------------Add on project-------------------------- */

.work {
  padding-top: 45px;
  margin-top: -45px;
  color: black;
  font-weight: normal;
}

.project {
  text-decoration: none;
  color: black;
  display: inline-block;
  overflow: hidden;
  border: 2px solid black;
  height: 250px;
  width: 280px;
  margin: 100px 50px 70px 50px;
  border-radius: 15px;
}

.project-pic {
  width: 280px;
  height: 200px;
}

.project-title {
  font-weight: bold;
}

.header {
  padding: 100px 0 110px;
}
/* --------------------------------------Add on project 2-------------------------- */
#box-container {
  justify-content: space-evenly;
  display: flex;
}

#box {
  border: 2px solid black;
  border-radius: 15px;
  list-style-type: none;
  background-color: bisque;
  padding: 10px;
  margin: 70px 0px 100px 0px;
}

.bullets {
  list-style-type: none;
  margin: 15px 15px;
}
/* ----------------------------CONTACT ME--------------------------- */
#contact {
  background: #28A5FB;
}

 .contact-details {
  margin: -40px 0px 70px 0px;
  list-style-type: none;
  border: 3px solid black;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: #3340F5;
  text-decoration: none;
}

 .contact-details:hover {
  border: 3px solid white; 
  transition: background-color 1s; 
}

#contact2{
  justify-content: space-evenly;
  display: flex;
}

footer {
  padding: 20px;
  background: white;
  color: black;
  line-height: 40px;
  text-align: center;
}

footer a {
  color: black;
}